body {
    margin: 0;
    padding: 0;
    font-family: arial;
}


.card-container {
margin: 40px;
width: 1400px;
background-color: aquamarine;
}


.card {
    background-color: rgb(110, 0, 213);
    height: 350px;
    width: 180px;
    vertical-align: top;
    border-radius: 35px;
    padding: 40px;
    display: inline-block;
    margin-right: 85px;
    margin-bottom: 25px;
}

.card :nth-child(3n) {
margin-right: 0px;
}

.card:nth-child(-n+3) {
margin-bottom: 0;
}
