.container {
    width: 1200px;
}

.top{
margin-top: 20px;
}

.main-nav__list {
    background-color:rgba(0, 0, 0, 0.884);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style-type: none;
    height: 100px;
    border: 3px solid;
    margin-left: 10px;
}

.main-nav__item {
    margin-right: 5px;
    position: relative;
}

.main-nav__link, .sub-nav__link, .intern-nav__link {
    text-decoration: none;
    color: rgb(255, 246, 246);
    font-size: 20px;
}


.main-nav__item:hover > .sub-nav {
    cursor: pointer;
     display: flex;
}

.sub-nav {
    list-style-type: none;
    position: absolute;
    top: 100%;
    width: 150px;
    height: 100px;
    background-color: blue;
    display: none;
    border: 3px solid;
    justify-content:space-around; 
    align-items:center; 
    flex-flow: wrap column;
}

.sub-nav__item {
     display: flex;
    position: relative;
}

.sub-nav__item:hover > .intern-nav {
     display: flex; 
    cursor: pointer;
}

.intern-nav {
    position: absolute;
    background-color: blue;
    width: 150px;
    height: 100px;
    left: 95%;
    display: none;
    list-style-type: none;
    border: 3px solid;
    justify-content: space-around; 
    align-items:center; 
    flex-flow: wrap column;
}